#red-area-navigation {
  /* background-color: #eddfff; */
  /* d9edf7 */
  /* #f2dede;  */
  background-color: #d9edf7;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: grey solid 1px;

}

.red-area-list-item {
  font-size: 1.5em;

}

.red-area-list-item:::after {
  content: '\f101' !important;
  font-family: FontAwesome;
  margin: 0 0.5em;
  font-size: 1em;
  opacity: .5;
}

.red-area-list-item:last-child::after {
  content: '';
}

td.red-table-links a.btn {
  margin-right: 1px;
}

.table {
  max-width: none;
  table-layout: fixed;
  word-wrap: break-word;
}

.red-edit-field-label {
  font-weight: bold;
}

td.red-edit-field-label {
  width: 20%;
}

.red-item-description {
  font-style: italic;
  margin-bottom: 8px;
}

.red-benefits-level-basic.red-auth-admin li.red-service-item-3 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-7 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-8 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-9 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-10 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-11 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-19 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-20 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-21 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-23 a,
.red-benefits-level-basic.red-auth-admin li.red-service-item-24 a {
  color: grey;
}

.red-benefits-level-basic.red-auth-user li.red-service-item-3 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-7 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-8 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-9 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-10 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-11 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-19 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-20 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-21 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-23 a,
.red-benefits-level-basic.red-auth-user li.red-service-item-24 a {
  pointer-events: none;
  cursor: default;
  color: grey;
}

#red-primary-host-block li {
  font-size: .8em;
}

.red-status-disabled {
  text-decoration: line-through;
}

#red-search-block {
  margin-bottom: 10px;
}

input[type=submit] {
  width: auto;
}

label {
  padding-left: 5px;
  padding-right: 5px;
}
