body {
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:0.8em;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #CCCCCC;
}

#container {
	background-color: #fff;
	margin: 0em;
	padding: 0em;
	width: 100%;
}

#red-header, #header {
	background-color: #999965;
	text-align: center;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.0em;
}

td {
	font-size:0.8em;
}

#body {
	padding: 1em;
	width: 85%;
}

#footer {
	border-top-style: solid;
	border-top-color: magenta;
	border-top-width: 1px;
	text-align: center;
	font-size: .9em;
}

img {
	border-style: none;
}

